<h3><%= @blog.title%> </h3>
<p><%= @blog.body %></p>
<p class="posted-by">Posted by <%= @blog.user.email%> </p>

<% if user_signed_in? %>
    <%=form_for([@blog, @blog.comments.build]) do |f| %>
    <%= f.text_field :content %> <br>
    <%=f.submit "Comment"%>
    <%end%>
<%end%>

<% @blog.comments.each do |c| %>
    <% if c.id == nil %>
        <% c.user_id = 0 %>
    <% else %>
    <strong> <%= c.user.email %> </strong>: <%= c.content %> <br>
    <%end%>
<%end%>