<!DOCTYPE html>
<html>
  <head>
    <title>EricBlogDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <ul>
        <li>
          <%= link_to 'Home', '/' %>
        </li>

        <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>

        <li>
          <%= link_to 'New Post', new_blog_path %>
        </li>


    <%if user_signed_in? %>
      <li>
        <%= link_to 'Edit Account', edit_user_registration_path%>
      </li>

    <%end%>
</nav>
    <%= yield %>
  </body>
</html>
